<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">button</a></li>
	        		<!--
	        		<li><a href="/cv">CV</a></li>
	        		-->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:ehalliwe@ualberta.ca">contact</a></li>
	        		<li><a href="https://github.com/ehalliwe">github.com/ehalliwe</a></li>
				<li><a href="https://linkedin.com/in/erikspace">linkedin: erikspace</a></li>
				</ul>
			</footer>
		</body>
	</html>
